!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.iml
*.ipa
*.keystore
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*/fastlane/Preview.html
*/fastlane/report.xml
*/fastlane/screenshots
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.gradle
.idea
/build
/coverage
/node_modules
DerivedData
\.buckd/
buck-out/
build/
local.properties
node_modules/
npm-debug.log*
project.xcworkspace
xcuserdata
yarn-debug.log*
yarn-error.log*
