#principal {
  text-align: center;
}

.App {
  text-align: center;
}

.Tarjetas {
  border: 1px solid black;
}

.inicio {
    display: inline-block;
    overflow:auto;
    border: 1px solid #fff;
    margin: 5px;
}

.medio {
  display:inline-block;
  overflow:auto;
  border: 1px solid #fff;  
  margin: 5px;

}

.fin {
  display:inline-block;
  overflow:auto;
  border: 1px solid #fff;  
  margin: 5px;  
}

.linea {
  clear:both;
}

.click {
  border: 1px dotted #999;
}